
   .parallex {
    position: relative;
    height: 130vh; 
    overflow: hidden;
  }
  
  .slogan {
    position: absolute;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: rgb(4 120 87);
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .parallex img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  .react-multiple-carousel__arrow{
    display: none !important;
  }
  .width-20{
    width: 20%;
  }
  .footer-hr{
    margin-top: 0;
  }
  /* .tour-card{
    height: 21rem;
  } */
  /* .tour-card1{
    line-height: 10px;
   
  } */