/* src/screens/TourDetail.css */
.tour-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    padding: 0 1rem;
  }
  
  .tour-detail-image-container {
    width: 100%;
    max-width: 500px;
  }
  
  .tour-detail-image {
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tour-detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  .tour-detail-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .tour-detail-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .tour-detail-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
    margin-top: 10px;
  }
  
  .tour-detail-description {
    margin-top: 10px;
    text-align: center;
    color: #4b5563;
  }
  
  .tour-detail-button {
    margin-top: 20px;
    background-color: #047857;
    text-align: center;
    font-size: 0.875rem;
    font-weight: medium;
    color: #ffffff;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
  }
  
  .tour-detail-button:hover {
    background-color: #065f46;
  }
  
  @media (min-width: 768px) {
    .tour-detail-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  
    .tour-detail-image-container, .tour-detail-info {
      width: 50%;
    }
  
    .tour-detail-info {
      align-items: flex-start;
      padding-left: 20px;
    }
  
    .tour-detail-title, .tour-detail-description, .tour-detail-price {
      text-align: left;
    }
  }
  